.catalogue {
    .list-group {
        width: 100%;


        .list-group-item {


            &:hover {
                background: #eee;

            }

            img {
                display: inline-block;
                width: 20%
            }

            span {
                line-height: 19px !important;

                width: 80%;
                display: inline-block;
            }


        }

        .selected {
            background: #eee;
        }
    }
}


.home-owner-cls {


    .home-list {
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        li {
            display: inline-block;
            padding: 10px;
            border: 1px solid #f3f3f3;
            margin-right: 10px;

            text-align: center;


            img {
                width: 100%;
                display: block;
                max-width: 100px;
                margin: 0px auto;
            }

            span {
                width: 100%;
                display: block;
                text-align: center;
            }


        }


    }
    .selected {
        background: #eee;
    }

}








