<br>
<br>
<div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group row">
                    <input type="text" placeholder="Type a name to save selection" class="form-control" disabled style="background-color: #fff">
                </div>
            </div>
            <div class="col-md-1">
                <img src="/assets/save-regular.svg" height="40" width="40" style="cursor: pointer;">
            </div>

            <div class="col-md-7 no-padding">
                <button class="btn btn-footer btn-warning btn-lg">Reset Selection</button>
                <button class="btn btn-footer btn-warning btn-lg">Email this Quote</button>
                <button class="btn btn-footer btn-warning btn-lg">Order</button>
            </div>
            
        </div>    
    </div>
</div>