@media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 48%;
    max-width: 48%;
  }
}

.mr-3 {
  margin-right: 3%;
}

.form-inline .form-group {
  vertical-align: top;
}

.dropdown-package-header {
  font-weight: bolder;
  font-size: 20px;
}

.custom-margin-select {
  margin-left: -4%;
}

@media only screen and (max-width: 600px) {
  .dropdown-package-header {
    font-size: 16px;
    font-weight: bold;
  }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .custom-margin-select {
    margin-left: -3rem !important;
  }
}

// tabs
.tab-active {
  background-color: #f38022 !important;
  color: white;
}

.tab {
  cursor: pointer;
  background-color: silver;
  padding: 5px;
}

.tab:hover {
  background-color: #ffc107;
  color: white;
}

.tab p {
  margin-bottom: 0;
}

.btn-footer {
  background-color: #f38022;
  color: #ffffff;
  border-radius: 5px;
  font-weight: bold;
  flex: 1;
  font-size: 12px;
  padding:9px 5px;
}

.description-footer-btn{height:38px}



.pos-ul {
  max-height: 400px;
}

.btn-1 {
  background-color: #f38022 !important;
  color: white;
  font-weight: bold;
}


.select-kit{
  margin: 40px 0;
  label{margin: 0;}
  display: flex;align-items: center;
  .form-control{width: 22%;margin-left: 15px;}
}

.heading-smart-home{

  text-align: center;
  h2{  
      font-size: 30px;
    font-weight: 700;}

}


.detials-heading{    display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  background: #ddd;
  padding: 10px;}