<div class="row text-center pos-header" > 
        
    <div class="col-md-2">
        <h5>1. Select Package</h5>
        <p>repeat steps 2 and 3 for each package</p>
    </div>
    <div class="col-md-2">
        <h5>2. Select Rooms</h5>
    
        <p>to view devices from each package</p>

    </div>
    <div class="col-md-5">
        <h5>3. Select Devices and add desired quantity </h5>
    
        <p>repeat for each room</p>

    </div>
    <div class="col-md-3">

        <h5>4. Request automated quote </h5>
    
        <p>(package price include hardware and configuration )</p>

    </div>

</div>