




.table-responsive {
    font-size: 15px;
    .table{

        thead{
            background-color: #f38022;
            color: #fff;
            text-transform: capitalize;

            tr{
                th{font-weight: 500;border-bottom:1px solid #dee2e6;padding:10px;}
            }
        }

        tbody, tfoot{

            tr{

                td{
					font-weight: 500;color:#000;padding:8px;
                    i{color: #f38022;font-size: 13px;cursor:pointer;}
					span{display:block}
                }
                .discount-amount {color: #999999;}

            }

            .total-cart-amount{

                td{font-weight: bold;}
            }
        }

    }


}


.action-btn {
    justify-content: space-between;
    .cupon-area{
        display: flex;

       .btn-cupon-apply {
        background: #f38022;
        color: #fff;
        font-weight: 500;
        float: left;
        font-size: 14px;
        padding: 5px 20px;
        line-height: 10px;
        border: none;
        height: 37px;

        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

         .form-control {
            border: solid 2px #dd9e73;
            color: #000;
            font-size: 15px;
            border-radius: 5px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }
    }


}


.position-check-btn{position: absolute;}

.btn-checkout {
    background:#f38022;
    color:#fff;
    font-weight:500;
    float:left;



}


.heading-cart{
    font-weight: bold;
    font-size: 20px;
    .badge{
        border-radius: 100%;
        height: 25px;
        width: 25px;
        margin-left: 10px
    }

}
.Temp{
  background: #f38022;
  color: #fff;
  font-weight: 500;
  width: 18%;
  //float: left;
}
.cardFlex{
display: flex;
align-items: center;
justify-content: space-between;
}

.tooltip-hover{position: relative;}

.tooltip-content{  background: #444;
    border-radius: 3px;
    color: #fff;
    font-size: 13px;
    padding: 5px 10px;
    position: absolute;
    display: none;
    top: -37px;
    left: -37px;
    min-width: 100px;
    text-align: center;}

.tooltip-hover:hover .tooltip-content{display: block;}

    .tooltip-content:before {
        border: solid;
        border-color: #444 transparent;
        border-width: 12px 6px 0 6px;
        content: "";
        /* left: 0; */
        bottom: -9px;
        position: absolute;
        right: 50%;
        margin: 0 auto;
    }