@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}

.pos-column {
  padding: 12px;
  max-height: 530px;
  overflow: auto;
}
.pos-column-description {
  border: 1px solid #eee;
  position: relative;
  min-height: 500px;
  text-align: left;
}

.pos-column-summery {
  border: 1px solid #eee;
  position: relative;
  min-height: 530px;
}

.pos-ul {
  list-style: none;
  text-align: center;
}

.pos-ul  li {
  border: 1px solid #eee;
  padding: 12px;
}

.pos-ul li:hover { 
  background: #eee !important;
}

.pos-ul > .selected {
  background: silver !important;
}
.pos-ul li {
  overflow: auto;
}
.pos-ul li img {
  float: left;
}

.description-footer-btn {
  float: left;height: 42px;
  background-color:transparent;color:black;border-radius:0px;border-color:#a3a098;width: 20%;
  border-right: none;
}
.description-footer-btn-last {
  border-right: solid #a3a098 !important;
}

.cart, .total {
  text-align: left !important;
}

.cart span, .total span {
  float: right;
}
.no-padding {
  padding: 0 !important;
}
.btn-footer {
  margin-right: 10px;
}